##### `requirements.txt`
##### QR Code Scanner for HR Staff Portal
##### Open-Source, hostet on https://github.com/DrBenjamin/QRCodeScanner
##### Please reach out to ben@benbox.org for any questions
### All needed libraries (and their versions)
streamlit==1.20.0
streamlit_image_select
pandas
numpy
protobuf==3.20.3
websockets
pygsheets
googledrivedownloader
streamlit_qrcode_scanner
qrcode
